.articleShow__btnContainer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}

.articleShow__editButtonContainer,
.articleShow__deleteButtonContainer{
  height: 60px;
  width: 150px;
  border: 1px solid #c16904;
  text-align: center;
  line-height: 60px;
}

.articleEditButton,
.articleDeleteButton{
  text-decoration: none;
}